/* Home.css */
@keyframes fade-dark {
    0% {
      opacity: 0; /* Start with faded opacity */
    }
    100% {
      opacity: 1; /* Fully opaque */
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    background-color: black;
    /* height: calc(100vh - 125px); */
    height: fit-content;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    z-index:1;
    padding-top: 125px; 
  }
  
  .event_name{
    display : flex;
    flex-direction: column;
    height : 80vh;
    justify-content : center;
    align-items: center;
  }
  .title {
    width: 100%;
    font-size: 150px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bolder;
    color: white;
    text-align: center;
    /* background: linear-gradient(to right, #800080, #4666ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: fade-dark 5s ease forwards;
    z-index:1;
  }

  .title span {
    background: #800080;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .motto {
    /* width: 100%; */
    color: white;
    font-size: 55px;
    /* background: linear-gradient(to bottom, #273be2 50%, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: fade-dark 5s ease forwards;
  }
  .desc{
    display : flex;
    justify-content: space-between;
    align-items: left;
  }
  .content-1{
    text-align: left;
    display : flex;
    flex-direction: column;
    color: white;
    width: 700px;
    padding: 16px; 
    font-size: 20px;
    max-width: 100%;
    animation : fade-dark 1s ease-in;
    margin-bottom : 0;
}


    
    .event_img {
      width: 300px; 
      float: right;
      margin-top : 100px;
    }
    .event_img img{
      width : 100%;
    }
    