.navbar {
  background-color: #1f1f1f2d;
  backdrop-filter: blur(10px);
  color: #e0e0e0;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: fixed;
  top: 10;
  z-index: 2;
  width: 100%;
}

.menu-icon,
.close-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  right: -33vw;
  width: 33vw;
  height: 100%;
  background-color: #1f1f1f2d;
  backdrop-filter: blur(10px);
  color: #e0e0e0;
  padding: 2rem;
  transition: right 0.5s ease-in-out;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.offcanvas-menu.open {
  right: 0;
}

.close-icon {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.offcanvas-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-direction: column;
}

.offcanvas-menu li {
  margin: 1rem 0;
  display: flex;
}

.offcanvas-link a {
  color: #e0e0e0;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: 0.3s linear;
}

.offcanvas-link a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e0e0e0;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.offcanvas-link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.offcanvas-link a:hover {
  scale: 1.15;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

svg {
  cursor: pointer;
}
