.nav_content{
    width : 60%;
    display: flex;
    height : 70px;
    backdrop-filter:blur(10px);
<<<<<<< HEAD
<<<<<<< HEAD
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid grey;
=======
    border: 2px solid rgba(255, 255, 255, 0.25);
>>>>>>> ddf927a (Intial Commit)
=======
    border: 2px solid rgba(255, 255, 255, 0.25);
=======
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid grey;
>>>>>>> b61b6229e40e4de89bea9877709bf05d0140989b
>>>>>>> e83e42f (Initial commit)
    border-radius : 25px;
    z-index : 1000;
    justify-content: space-around;
    align-items: center;
    position: relative;
    animation: slideDown 1s;
}
.nav_content a{
    text-decoration: none;
    color: white;
    font-weight : bold;
}
.Navbar{
    display : flex;
    position :fixed;
    background: transparent;
    align-items : center;
    justify-content: space-evenly;
    height : 125px;
<<<<<<< HEAD
<<<<<<< HEAD
    width: 100%;
    z-index: 1000;
=======
    width : 100%;
    position: fixed;
    z-index : 1000;
>>>>>>> ddf927a (Intial Commit)
=======
    width : 100%;
    position: fixed;
    z-index : 1000;
=======
    width: 100%;
    z-index: 1000;
>>>>>>> b61b6229e40e4de89bea9877709bf05d0140989b
>>>>>>> e83e42f (Initial commit)
}
.Navbar img{
    width : 150px;
    animation: fade-In 1s;
}
.Navbar button{
    width : 150px;
    height : 55px;
    padding : 10px 20px;
    border-radius : 20px;
    border : none;
    font-weight : bold;
    font-size : 15px;
    background-color: rgb(102, 35, 164);
    color : white;
    cursor : pointer;
    animation : fade-In 1s;
}
@keyframes slideDown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes fade-In{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}