.nav_content{
    width : 70%;
    display: flex;
    height : 70px;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: black;
    border-radius : 25px;
    z-index : 1000;
    justify-content: space-around;
    align-items: center;
    position: relative;
    animation: slideDown 1s;
}
.nav_content a{
    text-decoration: none;
    color: white;
    font-weight : bold;
}
.Navbar{
    display : flex;
    position :relative;
    background: transparent;
    align-items : center;
    justify-content: space-evenly;
    height : 125px;
}
.Navbar img{
    width : 150px;
    animation: fade-In 1s;
}
.Navbar button{
    width : 150px;
    height : 55px;
    padding : 10px 20px;
    border-radius : 20px;
    border : none;
    font-weight : bold;
    font-size : 15px;
    background-color: rgb(102, 35, 164);
    color : white;
    cursor : pointer;
    animation : fade-In 1s;
}
@keyframes slideDown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes fade-In{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}