.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 5rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://i.pinimg.com/564x/0d/a2/cf/0da2cfb4689885fe22bc85d95dfdfada.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.45;
  z-index: 1;
  position: absolute;
}

.hero > h1 {
  z-index: 100;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  margin: 1rem 0;
  border-radius: 3rem;
  position: sticky;
  top: 5rem;
}

.events {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 3rem;
  margin: 1rem;
  border-radius: 3rem;
  position: relative;
  width: 30%;
}

.event > img {
  width: 100%;
  border-radius: 1rem;
}
